# Copiar este archivo a terraform.tfvars y ajustar según el ambiente.

environment         = "${{values.environment}}"
resource_group_name = "${{values.resourceGroupName}}"

tags = {
  project = "${{values.name}}"
  owner   = "${{values.owner}}"
}
